<div class="row">
    <div class="col-sm-12">
        <p class="lead">
            Assuming you worked at the company for {{ analyzeObj.numMonthsAtCompany }} months:
        </p>

        <p>
            Using the number of present day shares, you'd have the right to purchase <strong>{{ (100 * analyzeObj.companyPercent)|round(3) }}%</strong> of the company's current outstanding shares.  This is equivalent to {{ analyzeObj.companyBasis|round(1) }} basis points.
        </p>
        <p>
            The full cost to exercise all your options would be {{ analyzeObj.exerciseCost|money }}.
        </p>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">What if machine</h3>
    </div>
    <table class="table">
        <tr>
            <th>What if...</th>
            <th>Approx Company Valuation (millions)</th>
            <th>Value of stock options</th>
            <th>Profit over exercise price</th>
        </tr>
        <tr class="active">
            <td>Today</td>
            {% set whatIf = valuationScenario(analyzeObj, 1, 1) %}
            <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
            <td>{{ whatIf.optionValue|money }}</td>
            <td>{{ whatIf.optionProfit|money }}</td>
        </tr>

        {% set totalValuationMultiplier = 1 %}
        {% set totalDilutionMultiplier = 1 %}

        {% if inArray(optionObj.companyStage, ['preSeed']) %}
            {% set totalValuationMultiplier = totalValuationMultiplier * 2.5 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.70 %}
            <tr>
                <td>You raise a Seed round<br><small>2.5x Valuation Increase, 30% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>
        {% endif %}
        {% if inArray(optionObj.companyStage, ['preSeed', 'seed']) %}
            {% set totalValuationMultiplier = totalValuationMultiplier * 2.5 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.70 %}
            <tr>
                <td>You raise an Angel round<br><small>2.5x Valuation Increase, 30% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>
        {% endif %}
        {% if inArray(optionObj.companyStage, ['preSeed', 'seed', 'angel']) %}
            {% set totalValuationMultiplier = totalValuationMultiplier * 3 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.70 %}
            <tr>
                <td>You raise a Series A round<br><small>3x Valuation Increase, 30% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>
        {% endif %}
        {% if inArray(optionObj.companyStage, ['preSeed', 'seed', 'angel', 'seriesA']) %}
            {% set totalValuationMultiplier = totalValuationMultiplier * 3 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.70 %}
            <tr>
                <td>You raise a Series B round<br><small>3x Valuation Increase, 30% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>
        {% endif %}
        {% if inArray(optionObj.companyStage, ['preSeed', 'seed', 'angel', 'seriesA', 'seriesB']) %}
            {% set totalValuationMultiplier = totalValuationMultiplier * 4 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.85 %}
            <tr>
                <td>You raise a huge growth round<br><small>4x Valuation Increase, 15% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>

            {% set totalValuationMultiplier = totalValuationMultiplier * 4 %}
            {% set totalDilutionMultiplier = totalDilutionMultiplier * 0.85 %}
            <tr>
                <td>You raise another huge growth round (wow!)<br><small>4x Valuation Increase, 15% Dilution</small></td>
                {% set whatIf = valuationScenario(
                        analyzeObj, totalValuationMultiplier, totalDilutionMultiplier) %}
                <td>{{ (whatIf.companyValue / 1000000)|round(1) }}</td>
                <td>{{ whatIf.optionValue|money }}</td>
                <td>{{ whatIf.optionProfit|money }}</td>
            </tr>
        {% endif %}
    </table>
<div>
